.string{
  margin: 15%;
  text-align: center;
}
.links{
      border-bottom: 3px solid white;
      height: 125px;
}
.links #page_header{
    margin-left: 20px;
    margin-top: 20px;

}

.links a{
  text-decoration: none;
  color: #033CD1;
  padding: 5px,5px,0px,5px;

}
.links a:hover{
  color:ghostwhite;
}


#instruction{
  text-align: center;
}

.legend{
    display:flex;
    flex-direction:column;
    background-color: #03A3D1;
    width: 300px;
    float:right;
}
#litem{
    margin:auto;

}
.alerts_link{float:left;}
.alerts{padding-top:50px;}
.alert{
    margin-left:50px;
    margin-right: 50px;
    padding-bottom:20px;
}
.alerts_header{
    border-bottom: 3px solid #033CD1;
    border-top: 3px solid #033CD1;
    background-color: ghostwhite;
    text-align:center;
    color:#033CD1;
}
.alerts_content{font-size:25px;text-align:center;}

#header{
    border-bottom: 3px solid #033CD1;
    border-top: 3px solid #033CD1;
    background-color: ghostwhite;
    text-align:center;
    color:#033CD1;
}
.items{
    padding-top:50px;
}
.items a{
    text-decoration:none;
    color:#033CD1;
}
.item:hover{
    background-color:ghostwhite;
}

.item{
    margin-left:50px;
    margin-right: 50px;
    padding-bottom:20px;
}

.article_content{
    display:flex;
    margin:auto;
    font-size: 25px;
    text-align:center;
}
#tab{margin-left:40px;}
.education_content{
    font-size: 25px;
}
.event_content{
    display:flex;
    background-color:ghostwhite;
    margin-bottom: 20px;
    margin-left:50px;
    margin-right: 50px;
}
.event_description{
    margin:auto;
    font-size: 30px;
    text-align:center;
    width: 60%;
}
.event_other{
    padding-left: 10px;
    border-left: 3px solid #033CD1;
    width: 35%;
}
.release_content{
  display:flex;
  padding-top:15px;

}
#release_description{
    width:45%;
    text-align:center;
    font-size: 30px;
    padding-right: 10px;
}
.release_content img{
  width:45%;
  height:50%;
  padding-top: 20px;
}