.container {
    width: 1300px;
    margin: auto;
    padding: 10px;
    padding-top: 50px;
    margin-bottom: 400px;
    height: 60px;

}
.park{
  float:left;
  width: 75%;
  border:5px solid #033CD1;
  border-radius: 5px;
  margin-right: 10px;
}
.caption{
  width: 100%;
  text-align: center;
}
img{
  width:80%;
  height: 80%;
  margin-left: 10%;
}
.vc{
  width:20%;
  border:5px solid #033CD1;
  border-radius: 5px;
  text-align:center;
  margin-right: 15px;
  float: right;
}

.park_header{
  text-align: center;
  background-color: ghostwhite;
  padding: none;
  height: 50px;
  color:#033CD1;
  border-bottom: 4px solid #033CD1;
}
.vc_header{
  text-align: center;
  background-color: ghostwhite;
  padding: none;
  height: 40px;
  padding-top:10px;
  color:#033CD1;
}
.collapsible {
  background-color: ghostwhite;
  color: #033CD1;
  cursor: pointer;
  padding: 18px;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
  height:50px;

}

.collapsible:hover {
  background-color: #FFCA40;
}
.operating_hours{

  float:right;
  width:20%;
  border:5px solid #033CD1;
  border-radius: 5px;
  text-align:center;
  margin-right: 15px;
  margin-bottom:15px;
  margin-left: 10px;
}
.park_info{
  width: 100%;
  background-color: ghostwhite;
  padding-bottom: 100px;
}
.operating_hours header{
  background-color: ghostwhite;
  color:#033CD1;
  height: 50px;
  line-height: 50px;
}
footer{
  text-align: center;
}
.content{
  position: sticky;
  float: left;
  transition: max-height 0.2s ease-out;
  height: 100px;
  background-color: ghostwhite;
  width: 100%;
  text-align: center;
  height: 90%
}
.f{
  width: 100%;
  background-color: #FFCA40;
}
.c{
  height:80px;
}
.bottom{
  float: left;
  margin-left: 25%;
  margin-right:25%;
  width:50%;
  margin-top: 25px;
  margin-bottom: 10px;
}
