.btn {
  border: none;
  outline: none;
  color: #033CD1;
  background-color: white;
  cursor: pointer;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 30px;
  padding: 10px
}


.active, .btn:hover {
  background-color: #FCBD19;
  color: white;
}
#navbar1{
    overflow: hidden;
    width: 100%;
    float: left;
    font-size: 30px;
    color: #426e2b;
    padding: 5px, 5px;
    text-decoration: none;
    text-align: center;
    padding-bottom: 20px;
}


.text{
  text-align: center;
  text-decoration: none;
  color: #033CD1;
  border: 3px solid #FFCA40;
  width: 500px;
  margin:auto;
  margin-top:15px;
  padding-top:20px;
  padding-bottom: 20px;
}
a{
  text-decoration: none;
  color: #033CD1;
}
.container{
  padding-top: 20px;
}
