*{
  margin: 0;
  padding: 0;
}
body{
  background-color: lightgray;
  padding-bottom: 200px;
}
.navbar {
  overflow: hidden;
  border-bottom: 3px solid white;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: #033CD1;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: #033CD1;
  padding: 14px 16px;
  background-color: lightgray;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #0B4EFC;
  color: white;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width:140px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  background-color:white;
  color: #0B4EFC;
}

.dropdown-content a:hover {
  background-color:silver;opacity:.5;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}


.title{
  padding-top: 30px;
  padding-bottom: 10px;
  text-align: center;
  color: white;
  border-bottom: 3px solid white;
  background-color: #033CD1; /* For browsers that do not support gradients */
  background-image: linear-gradient(90deg, #03A3D1,#033CD1,#03A3D1);
  font-family: 'Fredoka One', cursive;
  font-size: 30px;
}
sub{
  font-size: 20px;
}
