<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>National Park Service Information Center</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='other_info.css') }}">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  </head>
  <body>
      {% extends "template.html" %}
      {%block content %}
      {%if homepage%}
        <h1>Alerts Homepage</h1>
      {%elif no_center%}
        <a href="{{url_for('alerts')}}">Back to Alerts Homepage</a>
        <h1 class="string">{{string}}</h1>
      {%else%}

      <div class="links">
        <a  href="{{url_for('alerts')}}">Alerts Homepage</a>
        <h1 id="page_header">{{park}}</h1>
        <a id="page_header" href="http://localhost:5000/park_info/&quot;{{park}}&quot;">Info Page</a>
      </div>
      <div class="items">
        {%for title,description,category in alerts%}
          <div class="item">
            <button class="collapsible"><h3>{{title}}</h3><br><h4>Category: {{category}}</h4></button>
            <div class="alerts_content">
              <h3>{{description}}</h3>
            </div>
          </div>
        {%endfor%}
      </div>
      {%endif%}

      {% endblock %}

  </body>
</html>
