<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>National Park Service Information Center</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='other_info.css') }}">
  </head>
  <body>
      {% extends "template.html" %}
      {%block content %}
        {%if homepage%}
          <h1>Articles Homepage</h1>
        {%elif no_articles%}
        <div class="links">
          <a  href="{{url_for('articles')}}">Articles Homepage</a>
          <h1 id="page_header">{{park}}</h1>
            <a id="page_header" href="http://jacobia.pythonanywhere.com/park_info/&quot;{{park}}&quot;">Info Page</a>
            <a id="page_header" href="http://jacobia.pythonanywhere.com/alerts/&quot;{{park}}&quot;">Alerts</a>
            <a id="page_header" href="http://jacobia.pythonanywhere.com/articles/&quot;{{park}}&quot;">Articles</a>
            <a id="page_header" href="http://jacobia.pythonanywhere.com/events/&quot;{{park}}&quot;">Events</a>
            <a id="page_header" href="http://jacobia.pythonanywhere.com/news_releases/&quot;{{park}}&quot;">News Releases</a>
            <a id="page_header" href="http://jacobia.pythonanywhere.com/education/&quot;{{park}}&quot;">Educational Resources</a>
        </div>
          <h1 class="string">{{string}}</h1>
        {%else%}

        <div class="links">
          <a  href="{{url_for('articles')}}">Articles Homepage</a>
          <h1 id="page_header">{{park}}</h1>
            <a id="page_header" href="http://jacobia.pythonanywhere.com/park_info/&quot;{{park}}&quot;">Info Page</a>
            <a id="page_header" href="http://jacobia.pythonanywhere.com/alerts/&quot;{{park}}&quot;">Alerts</a>
            <a id="page_header" href="http://jacobia.pythonanywhere.com/articles/&quot;{{park}}&quot;">Articles</a>
            <a id="page_header" href="http://jacobia.pythonanywhere.com/events/&quot;{{park}}&quot;">Events</a>
            <a id="page_header" href="http://jacobia.pythonanywhere.com/news_releases/&quot;{{park}}&quot;">News Releases</a>
            <a id="page_header" href="http://jacobia.pythonanywhere.com/education/&quot;{{park}}&quot;">Educational Resources</a>
        </div>
        <div class="items">
          {%for titles,listingdescriptions,listingimages,urls in articles%}
            <div class="item">
              <button class="collapsible" id="items"><h3>{{titles}}</h3></button>
              <div class="content">
                <p>{{listingdescriptions}}</p>
                <img src="{{listingimages}}"></img><br>
                <a href="{{urls}}">{{urls}}</a>
              </div>
            </div>
          {%endfor%}
        </div>
        {%endif%}
      {% endblock %}
  </body>
</html>
