<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>National Park Service Information Center</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='other_info.css') }}">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  </head>
  <body>
      {% extends "template.html" %}
      {%block content %}
      {%if homepage%}
        <h1>Events Homepage</h1>
      {%elif no_events%}
      <div class="links">
        <a  href="{{url_for('events')}}">Events Homepage</a>
        <h1 id="page_header">{{park}}</h1>
        <a id="page_header" href="http://localhost:5000/park_info/&quot;{{park}}&quot;">Info Page</a>
        <a id="page_header" href="http://localhost:5000/alerts/&quot;{{park}}&quot;">Alerts</a>
        <a id="page_header" href="http://localhost:5000/articles/&quot;{{park}}&quot;">Articles</a>
        <a id="page_header" href="http://localhost:5000/events/&quot;{{park}}&quot;">Events</a>
        <a id="page_header" href="http://localhost:5000/news_releases/&quot;{{park}}&quot;">News Releases</a>
        <a id="page_header" href="http://localhost:5000/education/&quot;{{park}}&quot;">Educational Resources</a>
      </div>
        <h1 class="string">{{string}}</h1>
      {%else%}

      <div class="links">
        <a  href="{{url_for('events')}}">Events Homepage</a>
        <h1 id="page_header">{{park}}</h1>
        <a id="page_header" href="http://localhost:5000/park_info/&quot;{{park}}&quot;">Info Page</a>
        <a id="page_header" href="http://localhost:5000/alerts/&quot;{{park}}&quot;">Alerts</a>
        <a id="page_header" href="http://localhost:5000/articles/&quot;{{park}}&quot;">Articles</a>
        <a id="page_header" href="http://localhost:5000/events/&quot;{{park}}&quot;">Events</a>
        <a id="page_header" href="http://localhost:5000/news_releases/&quot;{{park}}&quot;">News Releases</a>
        <a id="page_header" href="http://localhost:5000/education/&quot;{{park}}&quot;">Educational Resources</a>
      </div>
      <div class="items">
        {%for titles, description,category,date_start,recurrence_date_end,fees_info,regres_info,timestart,timeend,urls in events%}
          <div class="item">
            <button class="collapsible" id ="items"><h3>{{titles}}</h3><br><h4>Category: {{category}}</h4></button>
            <div class="content">
              {{description}}
              <h3>{{date_start}}</h3>
              <h3>{{recurrence_date_end}}</h3>
              <h3>{{fees_info}}</h3>
              <h3>{{regres_info}}</h3>
              <h3>{{timestart}} to {{timeend}}</h3>
              <h3>{{urls}}</h3>
            </div>
          </div>
        {%endfor%}
      </div>
      {%endif%}

      {% endblock %}

  </body>
</html>
