<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>National Park Service Information Center</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}">
    <script src="{{url_for('static', filename='parklist.js')}}"></script>
  </head>
  <body>
      {% extends "template.html" %}
      {%block content %}

      <strong><nav>
        <ul class="menu">
          <li><a href="{{ url_for('park_list') }}">1-49</a></li>
          <li><a href="{{ url_for('park_list1') }}">50-99</a></li>
          <li><a href="{{ url_for('park_list2') }}">100-149</a></li>
          <li><a href="{{ url_for('park_list3') }}">150-199</a></li>
          <li><a href="{{ url_for('park_list4') }}">200-249</a></li>
          <li><a href="{{ url_for('park_list5') }}">250-299</a></li>
          <li><a href="{{ url_for('park_list6') }}">300-349</a></li>
          <li><a href="{{ url_for('park_list7') }}">350-399</a></li>
          <li><a href="{{ url_for('park_list8') }}">400-449</a></li>
          <li><a href="{{ url_for('park_list9') }}">450-497</a></li>
        </ul>
      </nav></strong>

      {%for line in park_list%}
        <p><a href = "{{ url_for('about') }}">{{line}}</a></p>
      {%endfor%}

      {% endblock %}
  </body>
</html>
