<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>National Park Service Information Center</title>

  </head>
  <body>
      {% extends "template.html" %}
      {%block content %}
      <a href="{{ url_for('state_list')}}">Click Here to Choose a Different State</a>
      {%for line in output%}
        <h2>{{ line }}</h2><br>
      {%endfor%}

      {%for line in description%}
        <h2>{{ line }}</h2><br>
      {%endfor%}

      {% endblock %}
  </body>
</html>
