<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>National Park Service Information Center</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='state_list_homepage.css') }}">
  </head>
  <body>
      {% extends "template.html" %}
      {%block content %}
        <strong><nav>

          <div class = "text">
          <h1>Choose a State to View Parks</h1>
          <a href= "{{url_for('interactive_map')}}">Or Click Here for Interactive Map</a><br>
          </div>
          <div class= "container">
            <div id="navbar1">
              <a  href="http://localhost:5000/parks_by_state/&quot;al&quot;"><button class="btn">Alabama</a>
              <a  href="http://localhost:5000/parks_by_state/&quot;ak&quot;"><button class="btn">Alaska</a>
              <a  href="http://localhost:5000/parks_by_state/&quot;az&quot;"><button class="btn">Arizona</a>
              <a  href="http://localhost:5000/parks_by_state/&quot;ca&quot;"><button class="btn">California</a>
              <a  href="http://localhost:5000/parks_by_state/&quot;co&quot;"><button class="btn">Colorado</a>
              <a  href="http://localhost:5000/parks_by_state/&quot;ct&quot;"><button class="btn">Connecticut</a>
              <a  href="http://localhost:5000/parks_by_state/&quot;de&quot;"><button class="btn">Deleware</a>
              <a  href="http://localhost:5000/parks_by_state/&quot;dc&quot;"><button class="btn">District of Columbia</a>
              <a  href="http://localhost:5000/parks_by_state/&quot;fl&quot;"><button class="btn">Florida</a>
              <a  href="http://localhost:5000/parks_by_state/&quot;ga&quot;"><button class="btn">Georgia</a>
              <a  href="http://localhost:5000/parks_by_state/&quot;hi&quot;"><button class="btn">Hawaii</a>
              <a  href="http://localhost:5000/parks_by_state/&quot;id&quot;"><button class="btn">Idaho</a>
              <a  href="http://localhost:5000/parks_by_state/&quot;il&quot;"><button class="btn">Illinois</a>
              <a  href="http://localhost:5000/parks_by_state/&quot;in&quot;"><button class="btn">Indiana</a>
              <a  href="http://localhost:5000/parks_by_state/&quot;ia&quot;"><button class="btn">Iowa</a>
              <a  href="http://localhost:5000/parks_by_state/&quot;ks&quot;"><button class="btn">Kansas</a>
              <a  href="http://localhost:5000/parks_by_state/&quot;ky&quot;"><button class="btn">Kentucky</a>
              <a  href="http://localhost:5000/parks_by_state/&quot;la&quot;"><button class="btn">Louisiana</a>
              <a  href="http://localhost:5000/parks_by_state/&quot;me&quot;"><button class="btn">Maine</a>
              <a  href="http://localhost:5000/parks_by_state/&quot;md&quot;"><button class="btn">Maryland</a>
              <a  href="http://localhost:5000/parks_by_state/&quot;ma&quot;"><button class="btn">Massachusetts</a>
              <a  href="http://localhost:5000/parks_by_state/&quot;mi&quot;"><button class="btn">Michigan</a>
              <a  href="http://localhost:5000/parks_by_state/&quot;mn&quot;"><button class="btn">Minnesota</a>
              <a  href="http://localhost:5000/parks_by_state/&quot;ms&quot;"><button class="btn">Mississippi</a>
              <a  href="http://localhost:5000/parks_by_state/&quot;mo&quot;"><button class="btn">Missouri</a>
              <a  href="http://localhost:5000/parks_by_state/&quot;mt&quot;"><button class="btn">Montana</a>
              <a  href="http://localhost:5000/parks_by_state/&quot;ne&quot;"><button class="btn">Nebraska</a>
              <a  href="http://localhost:5000/parks_by_state/&quot;nv&quot;"><button class="btn">Nevada</a>
              <a  href="http://localhost:5000/parks_by_state/&quot;nh&quot;"><button class="btn">New Hampshire</a>
              <a  href="http://localhost:5000/parks_by_state/&quot;nj&quot;"><button class="btn">New Jersey</a>
              <a  href="http://localhost:5000/parks_by_state/&quot;nm&quot;"><button class="btn">New Mexico</a>
              <a  href="http://localhost:5000/parks_by_state/&quot;ny&quot;"><button class="btn">New York</a>
              <a  href="http://localhost:5000/parks_by_state/&quot;nc&quot;"><button class="btn">North Carolina</a>
              <a  href="http://localhost:5000/parks_by_state/&quot;nd&quot;"><button class="btn">North Dakota</a>
              <a  href="http://localhost:5000/parks_by_state/&quot;oh&quot;"><button class="btn">Ohio</a>
              <a  href="http://localhost:5000/parks_by_state/&quot;ok&quot;"><button class="btn">Oklahoma</a>
              <a  href="http://localhost:5000/parks_by_state/&quot;or&quot;"><button class="btn">Oregon</a>
              <a  href="http://localhost:5000/parks_by_state/&quot;pa&quot;"><button class="btn">Pennsylvania</a>
              <a  href="http://localhost:5000/parks_by_state/&quot;ri&quot;"><button class="btn">Rhode Island</a>
              <a  href="http://localhost:5000/parks_by_state/&quot;sc&quot;"><button class="btn">South Carolina</a>
              <a  href="http://localhost:5000/parks_by_state/&quot;sd&quot;"><button class="btn">South Dakota</a>
              <a  href="http://localhost:5000/parks_by_state/&quot;tn&quot;"><button class="btn">Tennessee</a>
              <a  href="http://localhost:5000/parks_by_state/&quot;tx&quot;"><button class="btn">Texas</a>
              <a  href="http://localhost:5000/parks_by_state/&quot;ut&quot;"><button class="btn">Utah</a>
              <a  href="http://localhost:5000/parks_by_state/&quot;vt&quot;"><button class="btn">Vermont</a>
              <a  href="http://localhost:5000/parks_by_state/&quot;va&quot;"><button class="btn">Virginia</a>
              <a  href="http://localhost:5000/parks_by_state/&quot;vi&quot;"><button class="btn">Virgin Islands</a>
              <a  href="http://localhost:5000/parks_by_state/&quot;wa&quot;"><button class="btn">Washington</a>
              <a  href="http://localhost:5000/parks_by_state/&quot;wv&quot;"><button class="btn">West Virginia</a>
              <a  href="http://localhost:5000/parks_by_state/&quot;wi&quot;"><button class="btn">Wisconsin</a>
              <a  href="http://localhost:5000/parks_by_state/&quot;wy&quot;"><button class="btn">Wyoming</a>
            </div>
          </div>
      {% endblock %}
  </body>
</html>
