<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About Page</title>
    <link rel="stylesheet" text="text/css" href="{{ url_for('static',    filename='css/state_list.css') }}">

  </head>
  <body>
      {% extends "template.html" %}
      {%block content %}
      <h2>Select a State to View Parks</h2>
      <div class = "alphabetBlock">
        <strong><nav>
          <ul class = "menu1">
            <li><a href="{{ url_for('Alabama')}}">Alabama</a></li>
            <li><a href="{{ url_for('Alaska')}}">Alaska</a></li>
            <li><a href="{{ url_for('Arizona')}}">Arizona</a></li>
            <li><a href="{{ url_for('Arkansas')}}">Arkansas</a></li>
            <li><a href="{{ url_for('California')}}">California</a></li>
            <li><a href="{{ url_for('Colorado')}}">Colorado</a></li>
            <li><a href="{{ url_for('Connecticut')}}">Connecticut</a></li>
            <li><a href="{{ url_for('Deleware')}}">Deleware</a></li>
            <li><a href="{{ url_for('Florida')}}">Florida</a></li>
            <li><a href="{{ url_for('Georgia')}}">Georgia</a></li>
            <li><a href="{{ url_for('Hawaii')}}">Hawaii</a></li>
            <li><a href="{{ url_for('Idaho')}}">Idaho</a></li>
            <li><a href="{{ url_for('Illinois')}}">Illinois</a></li>
            <li><a href="{{ url_for('Indiana')}}">Indiana</a></li>
            <li><a href="{{ url_for('Iowa')}}">Iowa</a></li>
            <li><a href="{{ url_for('Kansas')}}">Kansas</a></li>
            <li><a href="{{ url_for('Kentucky')}}">Kentucky</a></li>
            <li><a href="{{ url_for('Louisiana')}}">Louisiana</a></li>
            <li><a href="{{ url_for('Maine')}}">Maine</a></li>
            <li><a href="{{ url_for('Maryland')}}">Maryland</a></li>
            <li><a href="{{ url_for('Massachusetts')}}">Massachusetts</a></li>
            <li><a href="{{ url_for('Michigan')}}">Michigan</a></li>
            <li><a href="{{ url_for('Minnesota')}}">Minnesota</a></li>
            <li><a href="{{ url_for('Mississippi')}}">Mississippi</a></li>
            <li><a href="{{ url_for('Missouri')}}">Missouri</a></li>
            <li><a href="{{ url_for('Montana')}}">Montana</a></li>
            <li><a href="{{ url_for('Nebraska')}}">Nebraska</a></li>
            <li><a href="{{ url_for('Nevada')}}">Nevada</a></li>
            <li><a href="{{ url_for('New_Hampshire')}}">New Hampshire</a></li>
            <li><a href="{{ url_for('New_Jersey')}}">New Jersey</a></li>
            <li><a href="{{ url_for('New_Mexico')}}">New Mexico</a></li>
            <li><a href="{{ url_for('New_York')}}">New York</a></li>
            <li><a href="{{ url_for('North_Carolina')}}">North Carolina</a></li>
            <li><a href="{{ url_for('North_Dakota')}}">North Dakota</a></li>
            <li><a href="{{ url_for('Ohio')}}">Ohio</a></li>
            <li><a href="{{ url_for('Oklahoma')}}">Oklahoma</a></li>
            <li><a href="{{ url_for('Oregon')}}">Oregon</a></li>
            <li><a href="{{ url_for('Pennsylvania')}}">Pennsylvania</a></li>
            <li><a href="{{ url_for('Rhode_Island')}}">Rhode Island</a></li>
            <li><a href="{{ url_for('South_Carolina')}}">South Carolina</a></li>
            <li><a href="{{ url_for('South_Dakota')}}">South Dakota</a></li>
            <li><a href="{{ url_for('Tennessee')}}">Tennessee</a></li>
            <li><a href="{{ url_for('Texas')}}">Texas</a></li>
            <li><a href="{{ url_for('Utah')}}">Utah</a></li>
            <li><a href="{{ url_for('Vermont')}}">Vermont</a></li>
            <li><a href="{{ url_for('Virginia')}}">Virginia</a></li>
            <li><a href="{{ url_for('Washington')}}">Washington</a></li>
            <li><a href="{{ url_for('West_Virginia')}}">West Virginia</a></li>
            <li><a href="{{ url_for('Wisconsin')}}">Wisconsin</a></li>
            <li><a href="{{ url_for('Wyoming')}}">Wyoming</a></li>
          </ul>
        </nav></strong>
      </div>
      <img src="https://images.britcdn.com/wp-content/uploads/2017/06/national-parks-cover-slide.jpg?h=550&auto=format">
      </div>
      {% endblock %}
  </body>
</html>
