<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>National Park Service Information Center</title>

  </head>
  <body>
      {% extends "template.html" %}
      {%block content %}
      <h2>Select a State to View Parks</h2>
      <div class = "alphabetBlock">
        <strong><nav>
          <ul class = "menu1">
            <li><a href="http://localhost:5000/parks_by_state/ al">Alabama</a></li>
            <li><a href="http://localhost:5000/parks_by_state/ ak">Alaska</a></li>
            <li><a href="http://localhost:5000/parks_by_state/ as">American Samoa</a></li>
            <li><a href="http://localhost:5000/parks_by_state/ az">Arizona</a></li>
            <li><a href="http://localhost:5000/parks_by_state/ ak">Arkansas</a></li>
            <li><a href="http://localhost:5000/parks_by_state/ ca">California</a></li>
            <li><a href="http://localhost:5000/parks_by_state/ co">Colorado</a></li>
            <li><a href="http://localhost:5000/parks_by_state/ ct">Connecticut</a></li>
            <li><a href="http://localhost:5000/parks_by_state/ de">Deleware</a></li>
            <li><a href="http://localhost:5000/parks_by_state/ fl">Florida</a></li>
            <li><a href="http://localhost:5000/parks_by_state/ ga">Georgia</a></li>
            <li><a href="http://localhost:5000/parks_by_state/ gu">Guam</a></li>
            <li><a href="http://localhost:5000/parks_by_state/ hi">Hawaii</a></li>
            <li><a href="http://localhost:5000/parks_by_state/ id">Idaho</a></li>
            <li><a href="http://localhost:5000/parks_by_state/ il">Illinois</a></li>
            <li><a href="http://localhost:5000/parks_by_state/ in">Indiana</a></li>
            <li><a href="http://localhost:5000/parks_by_state/ ia">Iowa</a></li>
            <li><a href="http://localhost:5000/parks_by_state/ ks">Kansas</a></li>
            <li><a href="http://localhost:5000/parks_by_state/ ky">Kentucky</a></li>
            <li><a href="http://localhost:5000/parks_by_state/ la">Louisiana</a></li>
            <li><a href="http://localhost:5000/parks_by_state/ me">Maine</a></li>
            <li><a href="http://localhost:5000/parks_by_state/ md">Maryland</a></li>
            <li><a href="http://localhost:5000/parks_by_state/ ma">Massachusetts</a></li>
            <li><a href="http://localhost:5000/parks_by_state/ mi">Michigan</a></li>
            <li><a href="http://localhost:5000/parks_by_state/ mn">Minnesota</a></li>
            <li><a href="http://localhost:5000/parks_by_state/ ms">Mississippi</a></li>
            <li><a href="http://localhost:5000/parks_by_state/ mo">Missouri</a></li>
            <li><a href="http://localhost:5000/parks_by_state/ mt">Montana</a></li>
            <li><a href="http://localhost:5000/parks_by_state/ ne">Nebraska</a></li>
            <li><a href="http://localhost:5000/parks_by_state/ nv">Nevada</a></li>
            <li><a href="http://localhost:5000/parks_by_state/ nh">New Hampshire</a></li>
            <li><a href="http://localhost:5000/parks_by_state/ nj">New Jersey</a></li>
            <li><a href="http://localhost:5000/parks_by_state/ nm">New Mexico</a></li>
            <li><a href="http://localhost:5000/parks_by_state/ ny">New York</a></li>
            <li><a href="http://localhost:5000/parks_by_state/ nc">North Carolina</a></li>
            <li><a href="http://localhost:5000/parks_by_state/ nd">North Dakota</a></li>
            <li><a href="http://localhost:5000/parks_by_state/ mp">Northern Mariana Islands</a></li>
            <li><a href="http://localhost:5000/parks_by_state/ oh">Ohio</a></li>
            <li><a href="http://localhost:5000/parks_by_state/ ok">Oklahoma</a></li>
            <li><a href="http://localhost:5000/parks_by_state/ or">Oregon</a></li>
            <li><a href="http://localhost:5000/parks_by_state/ pa">Pennsylvania</a></li>
            <li><a href="http://localhost:5000/parks_by_state/ pr">Puerto Rico</a></li>
            <li><a href="http://localhost:5000/parks_by_state/ ri">Rhode Island</a></li>
            <li><a href="http://localhost:5000/parks_by_state/ sc">South Carolina</a></li>
            <li><a href="http://localhost:5000/parks_by_state/ sd">South Dakota</a></li>
            <li><a href="http://localhost:5000/parks_by_state/ tn">Tennessee</a></li>
            <li><a href="http://localhost:5000/parks_by_state/ tx">Texas</a></li>
            <li><a href="http://localhost:5000/parks_by_state/ ut">Utah</a></li>
            <li><a href="http://localhost:5000/parks_by_state/ vt">Vermont</a></li>
            <li><a href="http://localhost:5000/parks_by_state/ va">Virginia</a></li>
            <li><a href="http://localhost:5000/parks_by_state/ vi">Virgin Islands</a></li>
            <li><a href="http://localhost:5000/parks_by_state/ wa">Washington</a></li>
            <li><a href="http://localhost:5000/parks_by_state/ wv">West Virginia</a></li>
            <li><a href="http://localhost:5000/parks_by_state/ wi">Wisconsin</a></li>
            <li><a href="http://localhost:5000/parks_by_state/ wy">Wyoming</a></li>
          </ul>
        </nav></strong>
      </div>
      <img src="https://images.britcdn.com/wp-content/uploads/2017/06/national-parks-cover-slide.jpg?h=550&auto=format">
      {% endblock %}
  </body>
</html>
