<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Flask Parent Template</title>
    <link href="https://fonts.googleapis.com/css?family=Contrail+One&display=swap" rel="stylesheet">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='template.css') }}">
    <script src="{{url_for('static', filename='javascript/main.js')}}"></script>
</head>
  <body>
    <header>
      <div class="container">
        <h1 class="logo">National Parks Information Center</h1>
        <strong><nav>
          <ul class="menu">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('park_list') }}">Park List</a></li>
          </ul>
        </nav></strong>

      </div>
    </header>
{% block content %}
{% endblock %}
 </body>
</html>
