<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Flask Parent Template</title>
    <link href="https://fonts.googleapis.com/css?family=Contrail+One&display=swap" rel="stylesheet">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='template.css') }}">
</head>
  <body>
    <header>
      <div class="navbar">
        <a href="{{ url_for('home') }}">Home</a>
        <div class="dropdown">
          <button class="dropbtn">Find Parks by...
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="{{url_for('interactive_map')}}">State</a>
            <a href="{{url_for('name_list')}}">Name</a>
            <a href="#">Keywords</a>
          </div>
        </div>
      </div>

    </header>
{% block content %}
{% endblock %}
 </body>
</html>
